html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
  &:disabled {
    background-color: #bebebe;
    cursor: default;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
html {
  position: relative;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container {
  width: 500px;
  margin: auto;
  h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
  }
  p {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    a {
      color: #2881db;
    }
  }
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.input-inner {
  position: relative;
}
.form-icon {
  position: absolute;
  top: 31%;
  right: 15px;
  color: gray;
  cursor: pointer;
  &:hover {
    color: #000;
  }
  &.active {
    color: #000;
  }
}

.form input {
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #2086ea;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 8px;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #2f8be8;
}

.form-error {
  color: red;
  text-align: left;
  display: block;
  margin-bottom: 8px;
  margin-left: 5px;
  font-size: 15px;
}

.home {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 25%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  &__content {
    padding-top: 20px;
    background: #fff;
    border-top: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  padding: 5px 15px;
  padding-bottom: 20px;
  &__menu {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    i {
      color: #707579;
      font-size: 18px;
    }
    &:hover {
      background: #f4f4f4;
    }
  }
}

.search-inner {
  width: 88%;
  position: relative;
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: #b2b5b7;
    &.active {
      color: #3390ec;
    }
  }
}
.search-input {
  width: 100%;

  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f4f4f5;
  border: 0;
  padding: 5px;
  padding-left: 45px;
  box-sizing: border-box;
  font-size: 16px;
  color: #a2acb4;
  height: 44px;
  &:focus {
    border: 2px solid #3390ec;
    color: #000;
  }
}

.search-chats {
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    &:hover {
      background: rgb(234, 233, 233);
    }
  }
  &__item-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  &__item-info {
    display: flex;
    flex-direction: column;
  }
  &__item-title {
    margin-bottom: 2px;
  }
}

.chat-inner {
  background: #9ac098;
  height: 100%;
  width: 75%;
}
.chat {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.chat-header {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  border-left: 1px solid gray;
  &__user {
    display: flex;
    align-items: center;
  }
  &__user-img {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__user-title {
    font-size: 18px;
  }
  &__user-status {
    color: rgb(112, 117, 121);
    font-size: 14px;
  }
}
.chat-content {
  flex-grow: 1;
}
.chat-message {
  flex-shrink: 0;
  &__container {
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__inner {
    width: 600px;
    position: relative;
    min-height: 55px;
    height: auto;
    border-radius: 15px;
    background: #fff;
    font-family: "Roboto", sans-serif;

    border: 0;
    padding: 17px 50px;
    padding-left: 50px;
    box-sizing: border-box;
    font-size: 18px;
    color: #a2acb4;
  }
}

.chat-input {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  outline: 0;
  padding: 17px 50px;
  padding-left: 50px;

  background: #fff;
  border-radius: 15px;
  // height: auto;
  // border-radius: 15px;
  // font-family: "Roboto", sans-serif;
  // outline: 0;
  // background: #ffffff;
  // border: 0;
  // padding: 17px 50px;
  // padding-left: 50px;
  // box-sizing: border-box;
  // font-size: 18px;
  // color: #a2acb4;

  &:focus {
    color: #353333;
  }
}

.chat-placeholder {
  position: absolute;
  z-index: 3;
}

.emoji {
  position: absolute;
  z-index: 3;
  bottom: 25%;
  left: 15px;
  color: #b2b5b7;
  font-size: 22px;
  color: #a2acb4;
}
